.middle-div {
  background-color: black;
  padding: 72px 0;
  padding-right: 100px;
}

.container {
  display: flex;
  justify-content: center;
}

.introduction-div h3{
  font-family: "butler";
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
}

.introduction-div p{
    color: #aca7a7;
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
}


